.social-card-header{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 96px;
}
.social-card-header i {
    font-size: 32px;
    color:#FFF;
}
.share:hover {
        text-decoration: none;
    opacity: 0.8;
}

#service{
  padding: 0;
  margin-bottom: 0;
}

/*--------------- TABLES ---------------*/
table th {
	font-size: 1.4em;
	color: black;
}

table th .items{
	font-family: 'Staatliches', sans-serif;
	font-size: 1.4em;
	color: #000;
}

table td {
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: black;
}
